.right {
    float: right;
}
.left{
    float: left;
}

#scores{
    display: block;
    background-color: white;
    display: inline-block;
    width: 98vw;
    border: 3px solid purple;
    border-radius: 5px;
    margin: 6px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
.start-quiz{
    text-align: center;
    padding: 12vh;
}
h4{
    padding: 10px 8px 10px 8px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;

}
button:hover{
    transition-duration: 0.4s;
    background-color: purple;
}